@media screen and (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}

@media only screen and (max-width: 7680px) {
  .page {
    width: 80%;
  }

  .single {
    width: 70%;
  }

  .archive {
    width: 60%;
  }

  #header-desktop .header-wrapper {
    padding: 0 1rem;
  }

  .home[data-home=posts] {
    .summary{
      min-height: 10rem;
    }
  }
}

@media only screen and (max-width: 1920px) {
  .single {
    width: 38%;
  }
  .home[data-home=posts] {
    .summary{
      min-height: 10rem;
    }
  }
}

@media only screen and (max-width: 1600px) {
  .single {
    width: 45%;
  }
  .home[data-home=posts] {
    .summary{
      width: 32%;
      min-height: 10rem;
    }
  }
}

@media only screen and (max-width: 1440px) {
  .single {
    width: 50%;
  }
  .archive {
    width: 56%;
  }

  .home[data-home=posts] {
    .summary{
      width: 32%;
      min-height: 10rem;
    }
  }
}

@media only screen and (max-width: 1200px) {
  .single {
    width: 60%;
  }
  .archive {
    width: 52%;
  }

  #toc-auto {
    display: none;
  }

  #toc-static {
    display: block;
  }

  .page, .single {
    width: 85%;

    .categories-card {
      .card-item {
        width: 85%;
        min-height: 10rem;
        .card-item-wrapper {
          padding-bottom: 1rem;
        }
      }
    }
  }

  .home[data-home=posts] {
    .summary{
      width: 49%;
      min-height: 0rem;
    }
  }

  .search-dropdown.desktop {
    right: 1rem;
  }
}

@media only screen and (max-width: 960px) {
  .single {
    width: 75%;
  }

  .home[data-home=posts] {
    .summary{
      width: 49%;
      min-height: 0;
    }
  }

  #content-404 {
    h2 {
      font-size: 4rem;
      margin-bottom: 2rem;
    }
    p {
      font-size: .9rem;
    }
  }
}

@media only screen and (max-width: 680px) {
  .wrapper {
    main {
      .container {
        padding: 0 .5rem;
      }
    }
  }

  .home[data-home=posts] {
    .summary {
      width: 100%;
      .single-title {
        margin: 0.4rem .5rem;
      }
      .post-meta {
        margin: 0 .5rem .5rem;
      }
      .content {
        margin: 0 .5rem 0 .5rem;
      }
      .post-footer {
        margin: .4rem .5rem 0 .5rem;
      }
    }
  }

  .single-card {
    padding: .5rem;
    margin: .5rem 0 0;
  }

  #header-desktop {
    display: none;
  }

  #header-mobile {
    display: block;
  }

  body.blur {
    overflow: hidden;
  }

  .page, .single {
    width: 100%;

    [data-header-mobile] & {
      padding-top: $header-height;
    }

    [data-header-mobile=normal] & {
      padding-top: 0;
    }

    .categories-card {
      .card-item {
        width: 100%;
      }
    }
  }

  .copyright {
    .copyright-line {
      .icp-splitter {
        display: none;
      }
      .icp-br {
        display: block;
      }
    }
  }
}
